{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{{ user.profile_picture }}" alt="Profile Picture" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text">{{ user.first_name }} {{ user.last_name }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Profile Information</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                        <li class="list-group-item"><strong>Organization:</strong> {{ user.organization }}</li>
                        <li class="list-group-item"><strong>Location:</strong> {{ user.location }}</li>
                        <li class="list-group-item"><strong>Phone:</strong> {{ user.phone }}</li>
                        <li class="list-group-item"><strong>Website:</strong> <a href="{{ user.website }}" target="_blank">{{ user.website }}</a></li>
                        <li class="list-group-item"><strong>Interests:</strong> {{ user.interests }}</li>
                        <li class="list-group-item"><strong>Bio:</strong> {{ user.bio }}</li>
                    </ul>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Birds Submitted</h5>
                    <ul class="list-group">
                        {% for submission in user.birds %}
                            <li class="list-group-item">{{ submission.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Validations Done</h5>
                    <ul class="list-group">
                        {% for vote in votes %}
                            <li class="list-group-item">{{ birds[vote.bird_id-1].name }}: {{ vote.description }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
